:root{
    --name-color: red;
    --secondary-name-color: rgba(192, 0, 0, .85); 
}

*,
html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Neue Helvetica", helvetica, sans-serif;
    background-color: black;
}

.header {
    height: calc(96px + 25px);
    background-color: black;
    display: flex;
    padding: 12px 30px 12px 30px;
    margin-bottom: 1px;
    z-index: 1000;
    border-bottom: 1px solid var(--secondary-name-color);
}

#navLogo{
    height: 80%;
    align-self: center;
}

.infoButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6px 0 6px 15px;
    margin-left: 30px;
    border-left: 1px solid var(--name-color);
}

.restaurantName,
.menuName{
    display: inline-block;
    font-size: 30px;
    line-height: 24px;
    color: var(--name-color);
    line-height: 1em;
    letter-spacing: 3px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 15px;
}

.restaurantName{
    margin-bottom: 25px;
}

.nav-menu{
    display: flex;
    font-size: 35px;
    gap: 30px;
    list-style: none;
    font-size: 18px;
}

.nav-menu li > a,
[data-menu-button] {
    color: var(--secondary-name-color);
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-transform: uppercase;
}

.main-content{
    position: relative;
}

.homeImage{
    height: 100%;
    width: 100%;
}

.imageCarousel{
    margin: 0 auto;
    height: calc(100% - 57px);
}

.imageCarousel *:not(.dishImage, .itemDescription) {
    height: 100% !important;
}

[data-active=false]{
    display: none;
}

.main-content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the color and opacity as needed */
}

.greetingHeader,
.greetingContent {
    color: yellow;
    font-size: 24px;
    font-weight: 200;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.5px;
    line-height: 35px;
    font-style: normal;
    text-align: center;
}

.greetingHeader{
    line-height: 42px;
    font-size: 42px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 300;
}

.centerContainer{
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 65%;
    width: 70vw;  /* Need to make this 500px when the homeContainer is in focus */
    padding: 20px 40px 20px 40px;
    border-radius: 2%;
    box-shadow: 
    0 0 10px rgba(255, 0, 0, 0.2),
    0 0 10px rgba(255, 0, 0, 0.45);
    overflow: hidden;
}

.carouselItem {
    padding: 0 20px;
    object-fit: cover;
    object-position: center;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.dishImage{
    object-fit: cover;
    object-position: center;
    height: calc(100% - 24px);
}

.flickity-viewport {
    overflow: visible !important;
}

.flickity-cell {
    transition: opacity 0.7s ease-in-out;
    opacity: .3;
    margin-bottom: 20px;
    height: auto;
}

.menuHandler{
    height: 100%;
}
  
.flickity-cell.is-selected {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.itemDescription{
    text-align: center;
    color: var(--secondary-name-color);
    font-size: 24px;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-family: math;
}

.menuButtonContainer {
    display: flex;
    justify-content: center;
    gap: 40px;
}

[data-menu-button] {
    color: var(--secondary-name-color);
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}

.menuName{
    display: block;
    text-align: center;
    margin-bottom: 5px;
    font-size: 26px;
}
  

.creatorContainer{
    display: flex;
    gap: 5px;
}

.leftButton,
.rightButton {
  position: absolute;
  font-size: 40px;
  font-weight: 100;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 300;
}

.leftButton {
    left: 20%;
}
  
.rightButton {
    right: 20%;
}

.githubSVG{
    height: 15px;
    border-radius: 50%;
    background-color: antiquewhite;
}

.footer{
    height: 70px;
    font-size: 15px;
    font-weight: 100;
    background-color: black;
    display: flex;
    color: antiquewhite;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

