:root{
    --name-color: #ff0000f1;
    --secondary-name-color: Firebrick;
    --about-text-color: #F5A623;
}

*,
html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Neue Helvetica", helvetica, sans-serif;
    overscroll-behavior-y: none;   
}


.header {
    height: calc(96px + 25px);
    background-color: black;
    display: flex;
    padding: 12px 30px 12px 30px;
    z-index: 1000;
    border-bottom: 1px solid var(--secondary-name-color);
}

#navLogo{
    height: 80%;
    align-self: center;
}

.infoButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6px 0 6px 15px;
    margin-left: 30px;
    border-left: 1px solid var(--name-color);
}

.restaurantName,
.menuName{
    display: inline-block;
    font-size: 30px;
    color: var(--name-color);
    line-height: 1em;
    letter-spacing: 3px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 200;
}

.restaurantName{
    margin-bottom: 25px;
}

.nav-menu{
    display: flex;
    font-size: 35px;
    gap: 30px;
    list-style: none;
    font-size: 18px;
}

.nav-menu li > a,
[data-menu-button] {
    color: var(--secondary-name-color);
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}


.infoButtons :has(li:hover) li:not(:hover),
.tab :has(button:hover) button:not(:hover) {
    opacity: .7 ;
    scale: .9;
}

.nav-menu a:hover, [data-menu-button]:hover{
    text-decoration: underline;
    text-underline-offset: .2rem;
}

[data-menu-button],
li{
    transition: scale 350ms ease, opacity 350ms ease;
}


.main-content{
    position: relative;
    height: calc(100vh - 191px);
}

.homeImage{
    height: 100%;
    width: 100%;
}

.imageCarousel{
    display: none;
    margin: 0 auto;
    height: calc(100% - 57px);
}

.imageCarousel *:not(.dishImage, .itemDescription) {
    height: 100% !important;
}

[data-active-carousel]{
    display: block
}

[data-active-tab=false]{
    display: none !important;
}

[data-active-nav-button = true]{
    text-decoration: underline !important;
    color: blue;
}

.main-content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
}

.greetingHeader,
.greetingContent {
    color: var(--secondary-name-color);
    font-size: 24px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.5px;
    line-height: 35px;
    font-style: normal;
    text-align: center;
}

.greetingHeader{
    color: var(--name-color);
    line-height: 42px;
    font-size: 42px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 300;
}

.centerContainer{
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 65%;
    width: 70vw;
    padding: 20px 40px 20px 40px;
    border-radius: 2%;
    box-shadow: 
    0 0 10px rgba(255, 0, 0, 0.2),
    0 0 10px rgba(255, 0, 0, 0.45);
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}

.restaurantNameAbout{
    color: var(--name-color);
}

.carouselItem {
    padding: 0 20px;
    object-fit: cover;
    object-position: center;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.dishImage{
    object-fit: cover;
    object-position: center;
    height: calc(100% - 24px);
}

.drinksCarousel .dishImage{
    aspect-ratio: 1/1;
}



.flickity-viewport {
    overflow: visible !important;
}

.flickity-cell {
    transition: opacity 0.7s ease-in-out;
    opacity: .3;
}

.menuHandler{
    height: 100%;
}
  
.flickity-cell.is-selected {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.itemDescription{
    text-align: center;
    color: var(--secondary-name-color);
    font-size: 24px;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-family: math;
}

.menuButtonContainer {
    display: flex;
    justify-content: center;
    gap: 40px;
}

[data-menu-button] {
    background-color: transparent;
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}

.menuName{
    display: block;
    text-align: center;
    margin-bottom: 5px;
}
  

.creatorContainer{
    display: flex;
    gap: 5px;
}

.leftButton,
.rightButton {
  position: absolute;
  font-size: 40px;
  font-weight: 100;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 300;
}

.leftButton {
    left: 20%;
}
  
.rightButton {
    right: 20%;
}

.githubSVG{
    height: 15px;
    border-radius: 50%;
    background-color: antiquewhite;
}

.contactHandler  *{
    color: var(--secondary-name-color);
}


.footer{
    height: 70px;
    font-size: 15px;
    font-weight: 100;
    background-color: black;
    display: flex;
    color: antiquewhite;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}


.contactHandler {
    padding: 20px;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.contactTitle {
    display: grid;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
}

.contactInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    margin-bottom: 20px;
}

.contactInfo strong {
    font-size: 18px;
    font-weight: bold;
}

.contactInfo p{
    font-size: 16px;
    line-height: 1.25;
}


.aboutDescription {
    color: #F5A623; 
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    padding: 20px;
  }
  
  .aboutHandler {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
  }
  
  .aboutTitle {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    color: #F5A623; 
  }
  

  


